
{% block content %}

<form id = "survey-form" action="/extract_existing_info" method="post">
        <div class="mx-auto p-3" style="width: 600px;">
            <h4> Would you like to use your existing info? </h4>
           <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q17" id="q17_1" value="Yes">
              <label class="form-check-label" for="q17_1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q17" id="q17_2" value="No">
              <label class="form-check-label" for="q17_2">No</label>
            </div>
        </div>


        <div class="mx-auto p-3" style="width: 600px;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>
{% endblock %}
