
{% block content %}

<form id = "survey-form" action="/existing_portfolio" method="post">
        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Please choose a function you want the app to perform?  </h4>
           <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="e_q16" id="e_q16_1" value="Get the risk and return profile for given portfolio">
              <label class="form-check-label" for="e_q16_1">Get the risk and return profile for given portfolio</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="e_q16" id="e_q16_2" value="Get the optimal portfolio without return">
              <label class="form-check-label" for="e_q16_2">Get the optimal portfolio without return</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="e_q16" id="e_q16_3" value="Get the optimal portfolio with return">
              <label class="form-check-label" for="e_q16_3">Get the optimal portfolio with return</label>
            </div>
        </div>


        <div class="mx-auto p-3" style="width: 600px;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>
{% endblock %}


