<html>
    <head>
        <title>Add/Remove Input Fields Dynamically with jQuery</title>

    <!--    Custom CSS-->
    <link rel="stylesheet" href="../static/css/main.css">

    </head>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Bootstrap-Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet"/>

    <!-- Bootstrap-Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>



	<script>

    $(document).ready(function() {
      $('.selectpicker').selectpicker({
        style: 'btn-info',
        size: 4
      });


    var max_fields      = 25; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //text box count


   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed

		     //text box increment
            $(wrapper).append('<div class="form-group"><label for="input_stocks"><select class="selectpicker" name="input_portfolio_2" data-size="7" data-style="btn btn-primary btn-round" title="select" data-live-search="true">' +
                                '<optgroup label = "Technology">' +
                                '<option value="AAPL">AAPL	Apple, Inc.</option>' +
                                '<option value="MSFT">MSFT	Microsoft Corp. </option>' +
                                '<option value="GOOGL">GOOGL Alphabet </option>' +
                                '<option value="AMZN">AMZN	FB	Facebook, Inc. </option>' +
                                '<option value="INTC">INTC	Intel Corp. </option>' +
                                '<option value="VZ">VZ	Verizon Communications, Inc.</option>' +
                                '<option value="CSCO">CSCO	Cisco Systems, Inc.</option>' +
                                '<option value="ADBE">ADBE	Adobe, Inc.</option>' +
                                '<option value="NVDA">NVDA	NVIDIA Corp.</option>' +
                                '<option value="UTX">UTX	United Technologies Corp.</option>' +
                                '<option value="NFLX">NFLX	Netflix, Inc.</option>' +
                                '<option value="IBM">IBM	International Business Machines Corp.' +
                                '<option value="ORCL">ORCL	Oracle Corp.</option>' +
                                '<option value="TXN">TXN	Texas Instruments Incorporated</option>' +
                                '<option value="QCOM">QCOM	QUALCOMM, Inc.</option>' +
                                '<option value="FIS"> FIS Fidelity National Information Services</option>' +
                                '<option value="CRM"> CRM Salesforce.Com Inc</option>' +
                                '<option value="AVGO"> AVGO Broadcom Inc</option>' +
                                '<option value="BSX"> BSX Boston Scientific Corp</option>' +
                                '<option value="ADP"> ADP Automatic Data Process</option>' +
                                '<option value="INTU"> INTU Intuit Inc</option>' +
                                '</optgroup>' +

                                '<optgroup label = "Financial">' +
                                '<option value="JPM">JPM	JPMorgan Chase & Co.</option>' +
                                '<option value="V">V	Visa, Inc.</option>' +
                                '<option value="MA">MA	Mastercard, Inc. </option>' +
                                '<option value="WFC">WFC	Wells Fargo & Co.</option>' +
                                '<option value="C">C	Citigroup, Inc.</option>' +
                                '<option value="AMGN">AMGN	Amgen, Inc.</option>' +
                                '<option value="ACN">ACN	Accenture Plc</option>' +
                                '<option value="LMT">LMT	Lockheed Martin Corp.</option>' +
                                '<option value="USB">USB	U.S. Bancorp</option>' +
                                '<option value="GS">GS	The Goldman Sachs Group, Inc.</option>' +
                                '<option value="MS">MS	Morgan Stanley</option>' +
                                '<option value="CME">CME	CME Group</option>' +
                                '<option value="BLK">BLK	Blackrock</option>' +
                                '<option value="CB">CB	Chubb Ltd </option>' +
                                '<option value="BAC">BAC	Bank Of America Corp </option>' +
                                '<option value="SPGI">SPGI	S&P Global Inc </option>' +
                                '<option value="PNC">PNC	PNC Bank </option>' +
                                '</optgroup>' +





                                '<optgroup label = "Healthcare">' +
                                '<option value="JNJ">JNJ	Johnson & Johnson </option>' +
                                '<option value="MRK">MRK	Merck & Co., Inc.</option>' +
                                '<option value="PFE">PFE	Pfizer Inc.</option>' +
                                '<option value="ABT">ABT	Abbott Laboratories</option>' +
                                '<option value="MDT">MDT	Medtronic Plc</option>' +
                                '<option value="LLY">LLY	Eli Lilly & Co.</option>' +
                                '<option value="SPG">SPG	Simon Property Group, Inc.</option>' +
                                '<option value="DHR">DHR	Danaher Corp.</option>' +
                                '<option value="BMY">BMY	Bristol-Myers Squibb Co.</option>' +
                                '<option value="CVS">CVS	CVS Health Corp.</option>' +
                                '<option value="GILD">GILD	Gilead Sciences, Inc.' +
                                '<option value="CELG">CELG	Celgene Corp.</option>' +
                                '<option value="AGN">AGN    Allergan</option>' +
                                '<option value="SYK">SYK    Stryker Corp</option>' +
                                '<option value="TMO">TMO    Thermo Fisher Scientific Inc</option>' +
                                '<option value="AMT">AMT    American Tower Corp</option>' +
                                '<option value="ANTM">ANTM   Anthem Inc</option>' +
                                '<option value="BDX">BDX   Becton Dickinson And Company </option>' +
                                '<option value="CI">CI   Cigna Corp </option>' +
                                '<option value="UNH">UNH  Unitedhealth Group Inc  </option>' +
                                '</optgroup>' +


                                '<optgroup label = "Consumer Staple">' +
                                '<option value="WMT">WMT	Walmart, Inc. </option>' +
                                '<option value="PG">PG	Procter & Gamble Co. </option>' +
                                '<option value="HD">HD	The Home Depot, Inc.</option>' +
                                '<option value="COST">COST	Costco Wholesale Corp.</option>' +
                                '<option value="PM">PM	Philip Morris International, Inc.</option>' +
                                '<option value="MO">MO	Altria Group, Inc.</option>' +
                                '<option value="MDLZ">MDLZ	Mondelez International, Inc.</option>' +
                                '<option value="CL">CL     Colgate-Palmolive</option>' +
                                '<option value="EL">EL     Estee Lauder Companies (EL)</option>' +
                                '</optgroup>' +





                                '<optgroup label = "Consumer Discretionary">' +
                                '<option value="SBUX">SBUX	Starbucks Corp.</option>' +
                                '<option value="MCD">MCD	McDonald Corp.</option>' +
                                '<option value="KO">KO	The Coca-Cola Co.</option>' +
                                '<option value="PEP">PEP	PepsiCo, Inc.</option>' +
                                '<option value="BKNG">BKNG	Booking Holdings, Inc.</option>' +
                                '<option value="NKE">NKE	NIKE, Inc.</option>' +
                                '<option value="LOW">LOW	Lowe Cos., Inc.</option>' +
                                '<option value="TJX">TJX	TJX Companies</option>' +
                                '<option value="PLD">PLD	Prologis Inc (PLD)</option>' +
                                '</optgroup>' +



                                '<optgroup label = "Energy">' +
                                '<option value="XOM">XOM	Exxon Mobil Corp.</option>' +
                                '<option value="NEE">NEE	NextEra Energy, Inc.</option>' +
                                '<option value="GE">GE	General Electric Co.</option>' +
                                '<option value="CVX">CVX	Chevron Corp.</option>' +
                                '<option value="DUK">DUK	Duke Energy Corp.</option>' +
                                '<option value="SO">SO	The Southern Co.</option>' +
                                '<option value="COP">COP	ConocoPhillips</option>' +
                                '<option value="D">D	Dominion Resources</option>' +




                                '</optgroup>' +
                                '<optgroup label = "Telcomm">' +
                                '<option value="T">T	AT&T, Inc.</option>' +
                                '<option value="CMCSA">CMCSA	Comcast Corp.</option>' +
                                '<option value="DIS">DIS	The Walt Disney Co.</option>' +
                                '<option value="TMUS">TMUS	T-Mobile US</option>' +
                                '</optgroup>' +

                                '<optgroup label = "Industrial">' +
                                '<option value="BA">BA	The Boeing Co. </option>' +
                                '<option value="HON">HON	Honeywell International, Inc.</option>' +
                                '<option value="MMM">MMM	3M Co.</option>' +
                                '<option value="CAT">CAT	Caterpillar, Inc.</option>' +
                                '<option value="RTN">RTN    Raytheon Co.</option>' +
                                '<option value="CSX">CSX    CSX Group</option>' +
                                '</optgroup> ' +



                                '<optgroup label = "Transportation">' +
                                '<option value="UNP">UNP	Union Pacific Corp. </option>' +
                                '<option value="UPS">UPS	United Parcel Service, Inc.</option>' +
                                '<option value="AXP">AXP	American Express Co.</option>' +
                                '</optgroup></select>' +

                                '<a href="#" class="remove_field"><i class="fa fa-times"></div>'
                                );

            $('.selectpicker').selectpicker('refresh');
            x++;
	  }
    });


});

let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:[{% for item in stocks %}
             "{{item}}",
            {% endfor %}],
        datasets:[{
          label:'Weights',
          data:[{% for item in weights %}
             "{{item}}",
            {% endfor %}],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Your Existing Portfolio',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });




























</script>
   <body>


    &nbsp;
    <div class="text-center" id="add-stock-form">
        <h2>Your Existing Portfolio is: </h2>
        <div>



            <form id = "next" action="/function2_results" method="post">
                &nbsp
             <button type="submit" class="btn btn-primary">Use Existing Portfolio</button>
             <h2 class="text-center">Or add a new portfolio with candidate stocks</h2>
             </form>
        <form id = "add-stock-content" action="/portfolio/input_weight_portfolio" method="post">
             <div class="input_fields_wrap">
                <button class="add_field_button btn btn-primary">Add Stock</button>
             </div>
             &nbsp
             <button type="submit" class="btn btn-primary">Submit New Portfolio</button>

        </form>
    </div>
    </div>
    </body>
</html>



