{% extends "base.html" %}
{% block content %}

<header>
    <h1>EasyInvest</h1>
</header>>

 <form id = "login-button" action="/login" >
     <div>
     <button type="submit" class="btn btn-primary">Log in</button>
     </div>
 </form>

 <form id = "Register-Button" action="/register" >
     <div>
     <button type="submit" class="btn btn-primary">Register as New User</button>
     </div>
 </form>


 <div class = "picture" >
    <img src="../images/homepage.jpg" class="img-thumbnail"  alt =""/>
 </div>



{% endblock %}