<!DOCTYPE html >
<html lang="en">
<head>
    <!--    meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale-1">


    <!--    links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="tail.select-bootstrap4.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!--    JQuery-->
    <!--    not working-->
    <script src="jquery.js"></script>
    <script src="main.js"></script>

    <!--    Google font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

    <!--    title-->
    <title>Robo Advisor</title>

    <!--    Custom CSS-->
    <link rel="stylesheet" href="../static/css/main.css">

    <!--    Fontawesome-->
    <script src="https://kit.fontawesome.com/3af8f4b6f7.js" crossorigin="anonymous"></script>

</head>
    <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">SQLY Capital</h5>
      <nav class="my-2 my-md-0 mr-md-3">

      </nav>
                 <form id = "login-button" action="/login" >
                        <button type="submit" class="btn btn-link">Login</button>
                 </form>

                 <form id = "register-button" action="/register" >
                        <button type="submit" class="btn btn-link">Register</button>
                 </form>
    </div>


    <!--    home content-->
    <div id="home-content">

        <div id="home-content-inner" class="text-center">
            <div id="headinga">
                <h1>Robo Advisor</h1>
            </div>

            <div id="headingb">
                <h1>From <span>SQLY Capital</span></h1>
            </div>

            <div id="heading-text" >
                <p>We provide automatic solutions for: 1) Professional Assessment for Portfolio 2) Portfolio Recommendation Tailored for You 3) Performance of Suggested Portfolio </p>
            </div>



        </div>
    </div>

    <div id="about-01"></div>

    <div id="about-02">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class=" 'about-item text-center">
                            <i class="fa fa-rocket"></i>
                            <h3>Existing Portfolio</h3>
                            <hr>
                            <p>The first function provides the return and risk profile of a portfolio given by the user, with specific weights and stocks. In order to complete this function, Fama-French 5 factors model is used to estimate the past returns and volatility of stocks in order to back test the portfolio rate of return and volatility.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class=" 'about-item text-center">
                            <i class="fa fa-rocket"></i>
                            <h3>Enhance existing portfolio n</h3>
                            <hr>
                            <p> The second function of Robo-Advisor is to enhance the existing portfolio by providing an optimal portfolio.  Mean-Variance Optimization is implemented under a multi-period framework to provide the optimal portfolio which will span the user’s entire investment horizon with given rebalancing frequency.  The multi-period framework allows us to take the future stock returns into account so that a better portfolio can be provided. Thus, future stock returns and volatilities will be computed by ARIMA and GARCH in order to implement this model.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class=" 'about-item text-center">
                            <i class="fa fa-rocket"></i>
                            <h3>With Target Return</h3>
                            <hr>
                            <p>The  third  function  is  to  provide  an  optimal  portfolio  with a  given  return  goal.  The  same processes are used as the second function.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!--    arrow down-->
    <a href="#about" id="arrow-down">
        <i class="fa fa-angle-down"></i>
    </a>
[{% for item in factors %}
             "{{item}}",
            {% endfor %}]
[{% for item in prices %}
             "{{item}}",
            {% endfor %}]

<!--    <div class = "picture" >-->
<!--        <img src="../images/homepage.jpg" class="img-thumbnail"  alt =""/>-->
<!--     </div>-->


    </body>
</html>

