<!DOCTYPE html >
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>




<body>


    <form id = "survey-form" action="/survey/confirm" method="post">
        <div class="mx-auto p-3" style="width: 600px;">
            <div>
                Note: Q2-Q4 are for investors who have some knowledge about modelling. If you don't understand, leave in blank! We would take care for you.
            </div>
            &nbsp;&nbsp;

             <div class="form-group h4 font-weight-normal">
                 <label for="name">Q1: What is your legal name?</label>
                 <input type = "text" id="name" class = "form-control" name="name">
             </div>

                <div class="form-group h4">
                         <label for="assets">Q2: What is your expected number of assets in portfolio? (Max 100)</label>
                         <input type = "text" id="assets" class = "form-control" name="assets">
                 </div>

                <div class="form-group h4">
                         <label for="horizon">Q3: What is your expected investment time horizon? (in years)</label>
                         <input type = "text" id="horizon" class = "form-control" name="horizon">
                 </div>

                <div class="form-group h4">
                         <label for="rebalance">Q4: What is your expected rebalancing period?</label>
                         <input type = "text" id="rebalance" class = "form-control" name="rebalance">
                 </div>
         </div>


        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q5: What's your gender </h4>

           <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q1" id="q1_1" value="Male">
              <label class="form-check-label" for="q1_1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q1" id="q1_2" value="Male">
              <label class="form-check-label" for="q1_2">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q1" id="q1_3" value="Don't want ot tell">
              <label class="form-check-label" for="q1_3">Don't want to tell</label>
            </div>
        </div>


        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q6: How old are you</h4>
            <div class="form-check form-check-inline ">
              <input class="form-check-input" type="radio" name="q2" id="q2_1" value="18-30">
              <label class="form-check-label" for="q2_1">18-30</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q2" id="q2_2" value="30-45">
              <label class="form-check-label" for="q2_2">30-45</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q2" id="q2_3" value="45-60">
              <label class="form-check-label" for="q2_3">45-60 </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q2" id="q2_4" value="60+">
              <label class="form-check-label" for="q2_3">60+ </label>
            </div>
        </div>

        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q7: What is your employment status? </h4>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q3" id="q3_1" value="Employed">
              <label class="form-check-label" for="q3_1">Employed</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q3" id="q3_2" value="Unemployed">
              <label class="form-check-label" for="q3_2">Unemployed</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q3" id="q3_3" value="Retired">
              <label class="form-check-label" for="q3_3">Retired</label>
            </div>
        </div>




        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q8: Are you planning to purchase a house in the future? </h4>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q4" id="q4_1" value="No">
              <label class="form-check-label" for="q4_1">No</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q4" id="q4_2" value="Within 1-3 years">
              <label class="form-check-label" for="q4_2">Within 1-3 years</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q4" id="q4_3" value="Within 3-5 years">
              <label class="form-check-label" for="q4_3">Within 3-5 years</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q4" id="q4_4" value="More than 5 years">
              <label class="form-check-label" for="q4_4">More than 5 years</label>
            </div>
        </div>

        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q9: Are you planning to purchase a car in the future? </h4>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q5" id="q5_1" value="No">
              <label class="form-check-label" for="q5_1">No</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q5" id="q5_2" value="Within 1-3 years">
              <label class="form-check-label" for="q5_2">Within 1-3 years</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q5" id="q5_3" value="Within 3-5 years">
              <label class="form-check-label" for="q5_3">Within 3-5 years</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q5" id="q5_4" value="More than 5 years">
              <label class="form-check-label" for="q5_4">More than 5 years</label>
            </div>
        </div>


            <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q10: Are you saving for your children's education to university?  </h4>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q6" id="q6_1" value="No">
              <label class="form-check-label" for="q6_1">No</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q6" id="q6_2" value="Within 1-3 years">
              <label class="form-check-label" for="q6_2">Within 1-3 years</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q6" id="q6_3" value="Within 3-5 years">
              <label class="form-check-label" for="q6_3">Within 3-5 years</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q6" id="q6_4" value="More than 5 years">
              <label class="form-check-label" for="q6_4">More than 5 years</label>
            </div>
        </div>



        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q11: Over the next few years, how would you expect your annual income? </h4>
           <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q7" id="q7_1" value="30k-50k">
              <label class="form-check-label" for="q7_1">30k-50k</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q7" id="q7_2" value="50k-100k">
              <label class="form-check-label" for="q7_2">50k-100k</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q7" id="q7_3" value="100k-200k">
              <label class="form-check-label" for="q7_3">100k-200k</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q7" id="q7_4" value="more than 200k">
              <label class="form-check-label" for="q7_3">more than 200k</label>
            </div>
        </div>


        <div class="mx-auto p-3" style="width: 600px;">
            <h4>Q12: To what extent do you agree with protecting your portfolio is more important to you than high returns? </h4>
           <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q8" id="q8_1" value="Strongly Agree">
              <label class="form-check-label" for="q8_1">Strongly Agree</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q8" id="q8_2" value="Agree">
              <label class="form-check-label" for="q8_2">Agree</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q8" id="q8_3" value="Disagree">
              <label class="form-check-label" for="q8_3">Disagree</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="q8" id="q8_4" value="Strongly Disagree%">
              <label class="form-check-label" for="q8_3">Strongly Disagree</label>
            </div>

        </div>




        <div class="mx-auto p-3" style="width: 600px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

</body>
</html>




